{% extends "base.html" %}
{% load static %}

{% block titulo %}
Cadastro | {{ block.super }}
{% endblock %}



{% block conteudo %}


<h1 class="centered">Cadastro de Usuário</h1><br />
<hr/>
<div class="container">
<div class="row mt">


{% for field in form %}
	{% if field.errors %}
        <div class="alert alert-danger">
            {{ field.errors }}
        </div>
	{% endif %}       
{% endfor %}

{% for field in form2 %}
	{% if field.errors %}
        <div class="alert alert-danger">
            {{ field.errors }}
        </div>
	{% endif %}       
{% endfor %}

<form action="{% url 'cadastro' %}" method="post">

{% csrf_token %}
<h3>Dados de Autenticação</h3>
<p>{{form.username.label}}: {{form.username}} </p>
<p>{{form.password1.label}}: {{form.password1}} </p>
<p>{{form.password2.label}}: {{form.password2}} </p>
<h3>Dados Pessoais</h3>
<p>{{form2.nome.label}}: {{form2.nome}} </p>
<p>{{form2.imagem_perfil.label}}: {{form2.imagem_perfil}} </p>
<p>{{form2.email.label}}: {{form2.email}} </p>
<p>{{form2.telefone.label}}: {{form2.telefone} </p>
<p>{{form2.numero.label}}: {{form2.numero}} </p>
<p>{{form2.logradouro.label}}: {{form2.logradouro}} </p>

<p>{{form2.complemento.label}}: {{form2.complemento}} </p>
<p>{{form2.usuario.label}}: {{form2.usuario}} </p>
<p>{{form2.senha.label}}: {{form2.senha}} </p>
<p>{{form2.tipo_usuario.label}}: {{form2.tipo_usuario}} </p>



<p><input type="submit" value="Enviar" /></p>
</form>
</form>
</div>
</div>





{% endblock %}
