{% extends "base.html" %}
{% load static %}

{% block conteudo %}
  <!-- start slider -->
        <section id="featured" class="bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Slider -->
                        <div id="main-slider" class="main-slider flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="{% static 'img/slides/flexslider/1.png' %}" alt="" />
                                </li>
                                <li>
                                    <img src="{% static 'img/slides/flexslider/2.png' %}" alt="" />
                                </li>
                                <li>
                                    <img src="{% static 'img/slides/flexslider/3.png' %}" alt="" />
                                </li>
                            </ul>
                        </div>
                        <!-- end slider -->
                    </div>
                </div>
            </div>
        </section>


        <section id="content">

            <!-- Portfolio Projects -->
            <div class="container marginbot50">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="heading">Favoritos</h4>


                        <div id="grid-container" class="cbp-l-grid-projects">
                            <ul>
                                <li class="cbp-item graphic">
                                    <div class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="{% static 'img/works/1.png' %}" alt="" />
                                        </div>

                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">
                                                    <a href="{% static 'img/works/1big.png' %}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Dashboard<br>by Paul Flavius Nechita">Comprar</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="cbp-l-grid-projects-title">Baby Lips - Maybeline</div>
                                    <div class="cbp-l-grid-projects-desc">Lábios</div>
                                </li>
                                <li class="cbp-item web-design logo">
                                    <div class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="{% static 'img/works/2.png' %}" alt="" />
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">
                                                    <a href="{% static 'img/works/2big.png' %}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="World Clock Widget<br>by Paul Flavius Nechita">Comprar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cbp-l-grid-projects-title">Base Timewise - MaryKay</div>
                                    <div class="cbp-l-grid-projects-desc">Face</div>
                                </li>
                                <li class="cbp-item graphic logo">
                                    <div class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                              <img src="{% static 'img/works/3.png' %}" alt="" />
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">

                                                    <a href="{% static 'img/works/3big.png' %}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="To-Do Dashboard<br>by Tiberiu Neamu">Comprar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cbp-l-grid-projects-title">Caneta Delineadora - VULT</div>
                                    <div class="cbp-l-grid-projects-desc">Olhos</div>
                                </li>
                                <li class="cbp-item web-design graphic">
                                    <div class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="{% static 'img/works/4.png' %}" alt="" />
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">

                                                    <a href="{% static 'img/works/4big.png' %}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Events and  More<br>by Tiberiu Neamu">Comprar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cbp-l-grid-projects-title">Corretivo Instant - Maybeline</div>
                                    <div class="cbp-l-grid-projects-desc">Face</div>
                                </li>
                                <li class="cbp-item identity web-design">
                                    <div class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="{% static 'img/works/5.png' %}" alt="" />
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">

                                                    <a href="{% static 'img/works/5big.png' %}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="WhereTO App<br>by Tiberiu Neamu">Comprar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cbp-l-grid-projects-title">Duo de Contorno - VULT</div>
                                    <div class="cbp-l-grid-projects-desc">Face</div>
                                </li>
                                <li class="cbp-item identity web-design">
                                    <div class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="{% static 'img/works/6.png' %}" alt="" />
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">

                                                    <a href="{% static 'img/works/6big.png' %}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Ski * Buddy<br>by Tiberiu Neamu">Comprar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cbp-l-grid-projects-title">Blush rosado - VULT</div>
                                    <div class="cbp-l-grid-projects-desc">Face</div>
                                </li>
                                <li class="cbp-item graphic logo">
                                    <div class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="{% static 'img/works/7.png' %}" alt="" />
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">

                                                    <a href="{% static 'img/works/7big.png' %}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Seemple* Music for iPad<br>by Tiberiu Neamu">Comprar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cbp-l-grid-projects-title">Batom cor 003 - TRACTA</div>
                                    <div class="cbp-l-grid-projects-desc">Lábios</div>
                                </li>
                                <li class="cbp-item graphic logo">
                                    <div class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="{% static 'img/works/8.png' %}" alt="" />
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">

                                                    <a href="{% static 'img/works/8big.png' %}" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Seemple* Music for iPad<br>by Tiberiu Neamu">Comprar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cbp-l-grid-projects-title">Corretivo matte - MaryKay</div>
                                    <div class="cbp-l-grid-projects-desc">Face</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



            <!-- clients -->
            
        </section>
{% endblock %}

