
{% extends "base.html" %}
{% load static %}

{% block titulo %}
SAC | {{ block.super }}
{%endblock %}












select id="O" onchange="window.location.href= '/maquiagem/cilios-posticos?PS=16&' + 'O=' + this.options[this.selectedIndex].value">
<option  value="">Selecione</option>
<option  value="OrderByPriceASC">Menor Preço</option>
<option  value="OrderByPriceDESC">Maior Preço</option>
<option  value="OrderByTopSaleDESC">Mais vendidos</option>
<option  value="OrderByReviewRateDESC">Melhores avaliações</option>
<option  value="OrderByNameASC">A - Z</option>
<option  value="OrderByNameDESC">Z - A</option>
<option  value="OrderByReleaseDateDESC">Data de lançamento</option>
<option  value="OrderByBestDiscountDESC">Melhor Desconto</option>